/* Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: sans-serif;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

/* Header */


header {
    width: 100%;
    background-color: #FF6900;
    color: white;
    padding: 20px 0;
    font-weight: bold;
}

#logo {
    height: 12%;
    width: 12%;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.nav-bar * {
    padding: 0 3px;
}