/* Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: sans-serif;
}

/* Utilities */

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

/* Header */


header {
    width: 100%;
    background-color: #FF6900;
    color: white;
    padding: 20px 0;
    font-weight: bold;
}

#logo {
    height: 1%;
    width: 10%;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.nav-bar * {
    padding-right: 5px;
}

/* main */

main {
    padding-top: 80px;
}

/* main img {
    height: 70%;
} */

.row {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.col {
    flex-basis: calc((100% / 3) - (30px / 3));
    /* border: 2px dashed black; */
}

.col img {
    height: 100%;
    width: 100%;
}

.card {
    border: 2px dashed green;
    height: 600px;
}